:host {
  display: block;
}

.page-wrapper {
  display: flex;
  flex-direction: row;
  height: 100vh;
  width: 100vw;
}

.sidebar {
  display: flex;
  height: 100%;
  width: 150px;
  padding: 10px 10px;
  box-sizing: border-box;
  border-right: 1px solid rgba(128, 128, 128, 0.27);
  flex-direction: column;

  .sidebar-header {
    flex-grow: 1;
  }

  .logo {
    text-align: center;
    margin-bottom: 1rem;

    img {
      width: 56px;
    }
  }

  .sidebar-links {
    text-align: center;

    a {
      text-decoration: none;
      color: #626060;
      display: block;
      margin-bottom: 1rem;
    }
  }
}

.main-page {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  .header {
    height: 60px;
  }

  .body {
    flex-grow: 1;
    padding: 1rem;
    box-sizing: border-box;
    overflow-y: auto;
  }
}

.whisper-regular {
  font-family: "Whisper", cursive;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  line-height: 28px;
  font-size: 2rem;
}

.section {
  min-height: calc(100vh - 60px);
}
.about {
  display: flex;
  flex-direction: row;
  padding: 0 70px;
  align-items: center;

  .summary {
    margin-right: 10rem;
    width: 800px;
    p {
      font-family: "Sometype Mono", monospace;
      font-size: 1.8rem;
      font-weight: 100;
    }
    .about-me {
      line-height: 3rem;
    }
  }

  .my-photo {
    img {
      border-radius: 50%;
      border: 10px solid #bcbcbc;
      width: 300px;
    }
  }
}

.button {
  background-color: #FFFFFF;
  border: 1px solid #222222;
  border-radius: 8px;
  box-sizing: border-box;
  color: #222222;
  cursor: pointer;
  display: inline-block;
  font-family: Circular,-apple-system,BlinkMacSystemFont,Roboto,"Helvetica Neue",sans-serif;
  font-size: 16px;
  font-weight: 600;
  line-height: 20px;
  margin: 0;
  outline: none;
  padding: 13px 23px;
  position: relative;
  text-align: center;
  text-decoration: none;
  touch-action: manipulation;
  transition: box-shadow .2s,-ms-transform .1s,-webkit-transform .1s,transform .1s;
  user-select: none;
  -webkit-user-select: none;
  width: auto;
}

.button:focus-visible {
  box-shadow: #222222 0 0 0 2px, rgba(255, 255, 255, 0.8) 0 0 0 4px;
  transition: box-shadow .2s;
}

.button:active {
  background-color: #F7F7F7;
  border-color: #000000;
  transform: scale(.96);
}