<div class="page-wrapper">
  <div class="sidebar">
    <div class="sidebar-header">
      <div class="logo">
        <img src="../../../assets/logo.svg" alt="Logo">
      </div>
      <div class="whisper-regular">Valerii Aborniev</div>
    </div>
    <div class="sidebar-footer">
      <div class="sidebar-links">
        <a href="https://www.linkedin.com/in/valeriyabornev/" target="_blank">LinkedIn</a>
        <a href="https://github.com/Valabor" target="_blank">GitHub</a>
      </div>
    </div>
  </div>
  <div class="main-page">
    <div class="header">
      <app-header></app-header>
    </div>
    <div class="body">
      <section id="about" class="section">
        <div class="about">
          <div class="summary">
            <p>Hello! My name is <b>Valerii</b>.</p>
            <p class="about-me">
              As a seasoned <b>Software Engineer</b>, <b>Frontend Developer</b> with {{ years }} years of experience, 3 years of
              leadership, I bring proven expertise in development and a track record of successfully leading teams.
              My strengths lie in troubleshooting technical issues and driving results in dynamic environments. I possess a
              strong blend of professionalism, creativity, and effective communication.</p>
              <a class="button" target="_blank" href="https://drive.google.com/file/d/1Bb9D047T6sM0FpxI10J1LxsIPG2Bilqf/view?usp=sharing">Download CV</a>
          </div>
          <div class="my-photo">
            <img src="../../../assets/images/my_photo.jpg" alt="Valerii Aborniev">
          </div>
        </div>
      </section>

      <section id="contacts" class="section">
        <app-contacts></app-contacts>
      </section>
    </div>
  </div>
</div>
